{% extends 'base.html' %}
{% block content %}
<div class="container my-5" style='background-color:tranparent;'>
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-12 col-sm-12">
      <div class="card text-center shadow-lg" style="background-color: #2d2d2d; color: #ffffff;">
        <div class="card-header" style="background-color: #ff4e00;">
          <p style="font-size: 3rem; font-weight: bold; color: #ffffff;">RnD, CCA</p>
        </div>
        <div class="card-body">
          <h5 class="card-title" style="font-size: 1.8rem; font-weight: bold; color: #00a6fb;">About Our Cell</h5>
          <p class="card-text text-left" style="font-size: 1.2rem; color: #ffffff;">
            From the beginning of the dark ages, many groundbreaking discoveries were made by man. There is no field in which research is not done. Research and Development (R&D) flourishes where young minds and experienced faculties work synergistically. The R&D Cell has been established to promote and monitor the research programs of the institute. The cell administers all the research programs of the university by monitoring and coordinating the research programs. The Research and Development Cell aims to nurture research culture in the College by promoting research in newly emerging and challenging areas of Engineering, Technology, Science, and Humanities. Faculty and students have been encouraged to be creative since it is the creative aspect that induces newer thinking. Lectures and demonstrations are made for students to kindle their spirit of creativity by our own faculty and other experts along with paper presentations and workshops.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
